.mainContainer{
    background-color: white;
    height: 100vh;
}
.header{
    border: 2px solid black;
    background-color: yellow;
    padding: 100px;
    margin-bottom: 1%;
}
    .header .profilePic{
        border: 2px dashed black;
        border-radius: 10%;
        padding: 8px;
        display: inline-block;
        margin-right: 1% ;
    }

    .header .profileDetails{
        border: 2px dashed black;
        border-radius: 10%;
        padding: 10px;
        display: inline-block;
    }
.codingBackground{
    border: 2px solid black;
    background-color: rgb(255, 0, 225);
    padding: 16%;
    margin-bottom: 1%;
}   
.projectList{
    border: 2px solid black;
    background-color: rgb(38, 255, 0);
    padding:16%;
    margin-bottom: 1%;
}
.hobbies{
    border: 2px solid black;
    background-color: rgb(255, 98, 0);
    padding: 16%;
}