.mainContainer{
    background-color: red;
    height: 100vh;
}
.header{
    border: 2px solid black;
    background-color: yellow;
    padding: 2%;
}
    .header .profilePic{
        border: 2px solid black;
        padding: 20%;
        display: inline;
        margin-left: 25px;
        margin-right: 25px;
    }
    .header .profileDetails{
        border: 2px solid black;
        padding: 20%;
        display: inline;
    }
    