 div{
    border: 2px black solid;
    background-color: #1c67a5;
    margin: 20px 10px 30px 50px;
    padding: 5px 2px;
}
p{
    color: red;
}
.testP1{
    color: blue;
}
.testP2{
    color: yellow;
}
.class1{
        border: 2px solid black;
        background-color: black;
        padding: 20%;
}
    .class1 p{
    color: pink;
    display: inline;
    margin: 10px;            
    }
    .class1 div{
        display: inline;
        background-color: blue;
        padding: 20px;
        margin: 30px 20px 30px 50px;
    }