.container-header,
.container-body{
  border: 2px solid black;
  padding: 20px 50px 20px 50px;
  width: 70%;
  margin: auto;
  background-color: rgb(212, 212, 212);
  margin-top: 40px;
}

  .profile-picture-thumbnail{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 80px;
    vertical-align: middle;
    margin-right: 20px;
  }

  .profile-info-container{
    display: inline-block;
    border: 2px solid black;
    vertical-align: middle;
    width: 82%;
    padding-left: 20px;
    background-color: rgb(114, 75, 75);
  }

.container-body{
  margin-top: 50px;
}

  .more-personal-info{
    border: 2px solid black;
    vertical-align: middle;
    width: 45%;
    padding: 20px 20px 20px 20px;
    background-color: rgb(114, 75, 75);
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
  }

  p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    color: white;
  }

  h1{
    margin: 0px;
    font-family: Arial;
    color: gold;
    font-weight: bold;
  }
