.main-container{
   display: flex;  
   gap: 10px;
}
.side-bar{
  display: grid;
  box-sizing: content-box;
  place-items: center;
  row-gap: 4px;
  background-color: rgb(199, 199, 199);
  border-radius: 10px;
  height: auto;
  width: 240px;
}
.my-cart{
  font-size: 36px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.items-box{
  background: rgb(234, 234, 234);
  height: 680px;
  width: 200px;
  border-radius: 10px;
}
.check-out{
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
  display: grid;
  place-items: center; 
  height: 200px;
  background-color: rgb(40, 67, 154);
  height: 56px;
  width: 120px;
  border-radius: 24px;
  transition: 0.25s;
}
.selection-screen{
  background-color: rgb(220, 220, 220);
  height: 1080px;
  width: auto;
}
.logo{
  background-color: rgb(226, 226, 226);
  height: 80px;
  width: auto;
}
.logo-round{
  background-color: white;
  height: 72px;
  width: 72px;
  border-radius: 100px;
  margin-left: 16px;
  margin-top: 16px;
}
.main-item-container{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin-top: 16px;
}
.item-container{
  display: grid;  
  place-items: center;
  margin: 10px;
  background-color: rgb(238, 238, 238);
  height: 280px;
  width: 200px;
  border-radius: 10px;
}
.item-picture{
  background-color: rgb(213, 213, 213);
  height: 160px;
  width: 160px;
}
.item-name{
  font-size: 16px;
  font-weight: bold;
}
.add-to-cart{
   display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  height: 200px;
  background-color: rgb(40, 67, 154);
  height: 56px;
  width: 120px;
  border-radius: 24px;
  transition: 0.25s;
}
.add-to-cart:hover{
  cursor: pointer;
  box-shadow: 2px 2px 8px rgb(0, 3, 62);
}
.check-out:hover{
  cursor: pointer;
  box-shadow: 2px 2px 8px rgb(0, 3, 62);
}
.add-to-cart:active{
  color: rgb(16, 0, 50);
  opacity: 25%;
}
.check-out:active{
  color: rgb(16, 0, 50);
  opacity: 25%;
}